body {
	font-family: 'Jura', sans-serif;
	padding: 0.8rem;
	background: green;
}

h1 {
	text-align: center;
	font-size: 2.8rem ;
}

 
p {
	font-size: 1.5rem;
	//font-family: 'Cantarell', sans-serif;
	font-style: italic;
	text-align: center;
}

h4.formatHeader {
	text-align: left;
	font-variant: small-caps;
}

